{% load django_bootstrap5 %}
   <div class="row">
      <div class="col">
         <a href="?type=ventilador" class="btn btn-secondary">+ Ventilador</a>
         <a href="?type=curva_diseno" class="btn btn-outline-secondary ms-1">+ Curva Diseño</a>
         <a href="?type=ducto" class="btn btn-outline-secondary ms-1">+ Ducto</a>
         <a href="?type=equip_diesel" class="btn btn-outline-secondary ms-1">+ Equipamiento Diesel</a>
      </div>
   </div>

   <div class="row h-100">
      <div class="col m-4">
         <div class="h-100" >
            <h2>Nuevo Ventilador</h2>
            <form method="POST">
               {% csrf_token %}
               {% bootstrap_form form %}
               <button class="btn btn-primary">Guardar</button>
            </form>
         </div>
      </div>
   </div>