{% extends "settings.html" %}
{% load static %}
{% block body_content %}
   

   <!-- Centrar el form en la pantalla -->
   <div class="row h-100 justify-content-center align-items-center">
      <div class="col-6 col-md-4">
         <form method="POST" class="card p-4" id="id_cd_p">
            {% csrf_token %}
            {{ form }}
            <hr>
            <label for="#l_ep" class="form-label">Equipamientos</label>
            <div id="l_ep" class="parent mb-3">
               <div class="list list-group" style="max-height: 200px; overflow-y: auto; border: 1px solid #ccc; border-radius: 0.25rem;">
                  {% for eqp in equipamientos %}
                     <label class="list-group-item">
                        <input name="eq_{{ eqp.id }}" data-value="{{eqp.potencia}}" type="checkbox" class="form-check-input me-2">
                          {{ eqp.id }} | {{ eqp.modelo_diesel }}
                     </label>
                     
                  {% endfor %}
               </div>
            </div>
            <button class="btn btn-primary">Guardar</button>
         </form>
      </div>
   </div>

   <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script> 

   <script type="text/javascript" src="../../../static/js/settings/project.js"></script> 
{% endblock body_content %}

{% block body_js %}
   <script src="{% static 'js/settings/project.js' %}"></script>
{% endblock body_js %}

