<div class="row py-4 d-flex justify-content-evenly align-items-center">
   <div class="col-sm-8 col-md-5  m-2 p-2  d-flex border border-3 border-success">
      <div class="col  border-end border-3 border-success">Presión total ventilador (Pa)</div>
      <div class="col  text-center m-auto" id="pt1"></div>
   </div>
   <div class="col-sm-8 col-md-5  m-2 p-2  d-flex border border-3 border-success">
      <div class="col border-end border-3 border-success">Caudal ventilador (m³/s) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
      <div class="col text-center m-auto" id="q1"></div>
   </div>
   <div class="col-sm-8 col-md-5  m-2 p-2  d-flex border border-3 border-success">
      <div class="col border-end border-3 border-success">Potencia ventilador (kW) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
      <div class="col text-center m-auto" id="power"></div> 
   </div>
   <div class="col-sm-8 col-md-5  m-2 p-2  d-flex border border-3 border-success">
      <div class="col border-end border-3 border-success">Caudal en frente (m³/s) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
      <div class="col text-center m-auto" id="qf"></div>
   </div>
   <div class="col-sm-8 col-md-5  m-2 p-2  d-flex border border-3 border-success">
      <div class="col border-end border-3 border-success">Presión estática ventilador  (Pa) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
      <div class="col text-center m-auto" id="pe"></div>
   </div>
   <div class="col-sm-8 col-md-5  m-2 p-2  d-flex border border-3 border-success">
      <div class="col border-end border-3 border-success">Presión dinámica ventilador (Pa) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
      <div class="col text-center m-auto" id="pd"></div>
   </div>
   <div class="col-sm-8 col-md-5  m-2 p-2  d-flex border border-3 border-success">
      <div class="col border-end border-3 border-success">Pérdida de choque de sistema (Pa) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
      <div class="col text-center m-auto" id="pch"></div>
   </div>
   <div class="col-sm-8 col-md-5  m-2 p-2  d-flex border border-3 border-success">
      <div class="col border-end border-3 border-success">Pérdidas fricionales de sistema (Pa) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
      <div class="col text-center m-auto" id="pf"></div>
   </div>
</div>
<div class="row">
   <div class="col-3">
      <a rel="stylesheet" class="btn btn-primary" href="{% url 'currentstatus:Excel' %}">Descargar Excel</a>
   </div>
   <div class="col-3">
      {% include "widgets/currentStatus/modal.html" %}
   </div>
   
   
</div>
