<!-- Contenido principal -->
<div class="row py-4 d-flex justify-content-evenly align-items-center">
   <div class="col-sm-8 col-md-5 m-2 p-2 d-flex border border-3 border-success">
      <div class="col border-end border-3 border-success" id="verGrafico" style="cursor:pointer;">
         Presión total ventilador (Pa)
      </div>
      <div class="col text-center m-auto" id="pt1"></div>
   </div>
   <div class="col-sm-8 col-md-5 m-2 p-2 d-flex border border-3 border-success">
      <div class="col border-end border-3 border-success"  style="cursor:pointer;">Caudal ventilador (m³/s)</div>
      <div class="col text-center m-auto" id="q1"></div>
   </div>
   <div class="col-sm-8 col-md-5 m-2 p-2 d-flex border border-3 border-success">
      <div class="col border-end border-3 border-success"  style="cursor:pointer;">Potencia ventilador (kW)</div>
      <div class="col text-center m-auto" id="power"></div> 
   </div>
   <div class="col-sm-8 col-md-5 m-2 p-2 d-flex border border-3 border-success">
      <div class="col border-end border-3 border-success"  style="cursor:pointer;">Caudal en frente (m³/s)</div>
      <div class="col text-center m-auto" id="qf"></div>
   </div>
   <div class="col-sm-8 col-md-5 m-2 p-2 d-flex border border-3 border-success">
      <div class="col border-end border-3 border-success"  style="cursor:pointer;">Presión estática ventilador (Pa)</div>
      <div class="col text-center m-auto" id="densidad1"></div>
   </div>
   <div class="col-sm-8 col-md-5 m-2 p-2 d-flex border border-3 border-success">
      <div class="col border-end border-3 border-success"  style="cursor:pointer;">Presión dinámica ventilador (Pa)</div>
      <div class="col text-center m-auto" id="pd"></div>
   </div>
   <div class="col-sm-8 col-md-5 m-2 p-2 d-flex border border-3 border-success">
      <div class="col border-end border-3 border-success" style="cursor:pointer;">Pérdida de choque de sistema (Pa)</div>
      <div class="col text-center m-auto" id="pch"></div>
   </div>
   <div class="col-sm-8 col-md-5 m-2 p-2 d-flex border border-3 border-success">
      <div class="col border-end border-3 border-success"  style="cursor:pointer;">Pérdidas friccionales de sistema (Pa)</div>
      <div class="col text-center m-auto" id="pf"></div>
   </div>
</div>

<div class="row">
   <div class="col-3">
      <a class="btn btn-primary" href="{% url 'currentstatus:Excel' %}">Descargar Excel</a>
   </div>
   <div class="col-3">
      {% include "widgets/currentStatus/modal.html" %}
   </div>
</div>



 

