{% extends "dbs.html" %}
{% block body_content %}
<div class="row h-100 justify-content-center align-items-center">
   <div class="col-4">
      <h2 class="text-center">Nuevo Equipamiento Diesel</h2>
         <form method="POST" class="card p-4 gap-2">
            {% csrf_token %}
            {{ form }}
            <button class="btn btn-primary w-100 mt-3">Guardar</button>
         </form>
   </div>
</div>

<script>
   const qr_calculado = document.getElementById('id_qr_calculado');
   const potencia = document.getElementById('id_potencia');
   const qr_fabricante = document.getElementById('id_qr_fabricante');
   function Funcion(){
      qr_calculado.value = (potencia.value*2.83)/(60*0.746).toFixed(1);
      qr_fabricante.value = 0;
   }
   function Funcion2(){
      if(qr_fabricante.value == ""){
         Funcion()
      }else{
         if ($(qr_calculado).val() > qr_fabricante.value) {
            qr_calculado.value = qr_fabricante.value;
         }
      };
   }
</script>
{% endblock body_content %}
