<div class="col-md-6">
    <div class="card h-100 shadow-lg" id="semaforo" data-interval="{{ intervalos_sistema.semaforo }}">
      <div class="d-flex flex-row align-items-center justify-content-around" style="height: 100%;">
        <!-- Luz roja -->
        <div id="luz-roja" class="semaforo-luz bg-secondary rounded-circle" style="width: 100px; height: 100px; cursor: pointer;" data-bs-toggle="modal" data-bs-target="#modalSemaforo" onclick="mostrarContenidoModal('rojo')"></div>
        <!-- Luz amarilla -->
        <div id="luz-amarilla" class="semaforo-luz bg-secondary rounded-circle" style="width: 100px; height: 100px; cursor: pointer;" data-bs-toggle="modal" data-bs-target="#modalSemaforo" onclick="mostrarContenidoModal('amarillo')"></div>
        <!-- Luz verde -->
        <div id="luz-verde" class="semaforo-luz bg-success rounded-circle" style="width: 100px; height: 100px; cursor: pointer;" data-bs-toggle="modal" data-bs-target="#modalSemaforo" onclick="mostrarContenidoModal('verde')"></div>
      </div>
      <!-- Contenedor del reloj animado (spinner) -->
      
    </div>
    <div class="text-center mt-3" id="">
        <span class="" id="semaforo_messages"></span>
    </div>

  </div>
  