<style>
  td {
    text-align: center;
  }
</style>

<div class="row align-items-start my-4">
  <!-- Velocidad del aire -->
  <div class="col-md-5">
    <table class="table table-bordered">
      <thead>
        <tr class="bg-secondary text-white text-center">
          <th colspan="6">Velocidad del aire</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <!-- Número "2" como parte de la tabla -->
          <td rowspan="8" class="align-middle text-center" style="width: 100px;">
            <h1 class="display-1 fw-bold m-0">2</h1>
          </td>
          <td colspan="4" class="text-center fw-bold bg-light">Velocidad mínima</td>
          <td rowspan="8" id="v2_formula" class="text-center align-middle">
            Fórmula
          </td>
        </tr>
        <tr>
          <td colspan="2" class="text-center">Estado</td>
          <td colspan="1" id="v2_estado"></td>
        </tr>
        <tr>
          <td>V min</td>
          <td>Vel. Aire</td>
          <td id="v2_vel_aire_min"></td>
        </tr>
        <tr>
          <td id="v2_q_ventilador_min">0.25</td>
          <td></td>
          <td id="v2_q_frente"></td>
        </tr>
        <tr>
          <td colspan="4" class="text-center fw-bold bg-light">Velocidad máxima</td>
        </tr>
        <tr>
          <td colspan="2" class="text-center">Estado</td>
          <td id="v2_estado_max"></td>
        </tr>
        <tr>
          <td>V max</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td id="v2_q_frente">2.5</td>
          <td></td>
          <td id="v2_q_frente"></td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Requerimientos de Velocidad -->
  <div class="col-md-3">
    <table class="table table-bordered">
      <thead class="thead-light bg-secondary text-white text-center">
        <tr>
          <th colspan="2">Requerimientos de Velocidad del Aire</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Q1</td>
          <td id="v2_Q1"></td>
        </tr>
        <tr>
          <td>Área de la galería [m²]</td>
          <td id="v2_area_galeria"></td>
        </tr>
        <tr>
          <td>Velocidad del aire [m/s]</td>
          <td id="v2_vel_aire"></td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Semáforo -->
  <div class="col-md-4">
    <table class="table table-bordered">
      <thead class="bg-secondary text-white text-center">
        <tr>
          <th>Semáforo</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center" style="background-color: #07f873; color: black;">
            0.25 m/s < Velocidad del aire < 2.5 m/s
          </td>
        </tr>
        <tr>
          <td class="text-center" style="background-color: #dc3545; color: white;">
            Velocidad del aire fuera de rango
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<hr/>
