<div class="row align-items-center my-4">

  <!-- Información Principal -->
  <div class="col-md-6">
    <table class="table table-bordered">
      <thead>
        <tr class="bg-secondary text-white text-center">
          <th colspan="3">Leakage Coefficient (Lc)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <!-- Número "4" como parte de la tabla -->
          <td rowspan="3" class="align-middle text-center" style="width: 100px;">
            <h1 class="display-1 fw-bold m-0">4</h1>
          </td>
          <td>Estado</td>
          <td class="text-center" id="v4_estado" style="background-color: {% if lc.estado == 2 %}#ffc107{% else %}#f8d7da{% endif %};">
            {{ lc.estado }}
          </td>
          <td rowspan="3" class="text-center align-middle font-italic fw-bold" id="v4_formula" style="font-size: 1.2rem;">
            El Lc se encuentra operando dentro de los rangos admitidos. <br> Excelente - Fair - Poor
          </td>
        </tr>
        <tr>
          <td>Lc</td>
          <td class="text-center" id="v4_lc">{{ lc.valor }}</td>
        </tr>
        <tr>
          <td colspan="2" >
            <div class="text-start" id="v4_values">
             
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Semáforo -->
  <div class="col-md-3">
    <table class="table table-bordered">
      <thead class="bg-secondary text-white text-center">
        <tr>
          <th>Semáforo</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center" id="v4_semaforo" style="background-color: {% if lc.valor < 0.5 %}#28a745{% else %}#f8d7da{% endif %}; color: white;">
            {% if lc.valor < 0.5 %}
              Lc < 0.5 - Excelente
            {% else %}
              Lc no en rango Excelente
            {% endif %}
          </td>
        </tr>
        <tr>
          <td class="text-center" style="background-color: {% if lc.valor >= 0.5 and lc.valor < 1 %}#ffc107{% else %}#f8d7da{% endif %}; color: white;">
            {% if lc.valor >= 0.5 and lc.valor < 1 %}
              0.5 < Lc < 1 - Fair
            {% else %}
              Lc no en rango Fair
            {% endif %}
          </td>
        </tr>
        <tr>
          <td class="text-center" style="background-color: {% if lc.valor >= 1 %}#dc3545{% endif %}; color: white;">
            {% if lc.valor >= 1 %}
              Lc > 1 - Poor
            {% else %}
              Lc no en rango Poor
            {% endif %}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
