<div class="row align-items-start my-4">

  <!-- Información Principal -->
  <div class="col-md-6">
    <table class="table table-bordered">
      <thead>
        <tr class="bg-secondary text-white text-center">
          <th colspan="4">Leakage Coefficient (Lc)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td rowspan="3" class="align-middle text-center" style="width: 100px;">
            <h1 class="display-1 fw-bold m-0">4</h1>
          </td>
          <td>Estado</td>
          <td class="text-center" id="v4_estado" style="">
            {{ lc.estado }}
          </td>
          <td rowspan="3" class="text-center align-middle font-italic fw-bold" id="v4_formula" style="font-size: 1.2rem;">
            El Lc se encuentra operando dentro de los rangos admitidos.
          </td>
        </tr>
        <tr>
          <td>Lc</td>
          <td class="text-center" id="v4_lc">{{ lc.valor }}</td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="text-start" id="v4_values">
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Semáforo -->
  <div class="col-md-6">
    <table class="table table-bordered">
      <thead class="bg-secondary text-white text-center">
        <tr>
          <th>Semáforo</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center" style="background-color: green; color: white;">
            Lc < 0.5
          </td>
        </tr>
        <tr>
          <td class="text-center" style="background-color: yellow; color: black;">
            0.5 < Lc < 1
          </td>
        </tr>
        <tr>
          <td class="text-center" style="background-color: red; color: white;">
            Lc > 1
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
<hr/>
