<div class="row align-items-start my-4" style="background-color: #FFF4D6; padding: 10px; border: 1px solid #000;">
    <!-- Información de Estado y Descripción -->
    <div class="col-md-5">
        <table class="table table-bordered mb-0">
            <thead>
                <tr class="text-center fw-bold" style="background-color: #FFF4D6;">
                    <th colspan="4">Potencia</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="3" class="align-middle text-center" style="width: 100px; background-color: #FFF4D6;">
                        <h1 class="display-1 fw-bold m-0">7</h1>
                    </td>
                    <td>Estado</td>
                    <td class="text-center" id="v7_estado" style="background-color: {% if potencia.estado == 1 %}#d4edda{% else %}#f8d7da{% endif %};">
                        {{ potencia.estado }}
                    </td>
                    <td rowspan="2" id="v7_formula" class="text-center align-middle font-italic fw-bold p-4" style="font-size: 1.2rem;">
                        La potencia consumida frente a la potencia instalada es un indicador visual que representa la proporción entre la potencia eléctrica utilizada y la capacidad total de un sistema.
                    </td>
                </tr>
                <tr>
                    <td>Potencia</td>
                    <td class="text-center" id="v7_potencia_porcent">{{ potencia.potencia_percent }}%</td>
                </tr>
            </tbody>
        </table>
    </div>
  
    <!-- Rango de Potencia -->
    <div class="col-md-3">
        <table class="table table-bordered mb-0">
            <thead class="text-center fw-bold" style="background-color: #FFF4D6;">
                <tr>
                    <th>Potencia instalada</th>
                    <th>Potencia consumida</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center" id="v7_power">{{ potencia.instalada }}</td>
                    <td class="text-center" id="v7_potencia_consumida">{{ potencia.consumida }}</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered mt-2">
            <thead class="text-center fw-bold" style="background-color: #FFF4D6;">
                <tr>
                    <th>Limites potencia</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">Limite inferior</td>
                    <td class="text-center">0%</td>
                </tr>
                <tr>
                    <td class="text-center">Limite superior</td>
                    <td class="text-center">99%</td>
                </tr>
            </tbody>
        </table>
    </div>
  
    <!-- Semáforo de Potencia -->
    <div class="col-md-4">
        <table class="table table-bordered mb-0">
            <thead class="bg-secondary text-white text-center">
                <tr>
                    <th>Semáforo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center fw-bold" style="background-color: green; color: white;">
                        Potencia &lt; 95%
                    </td>
                </tr>
                <tr>
                    <td class="text-center fw-bold" style="background-color: yellow; color: black;">
                        95% &lt; Potencia &lt; 99%
                    </td>
                </tr>
                <tr>
                    <td class="text-center fw-bold" style="background-color: red; color: white;">
                        Potencia &gt; 99%
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
  
  