   <div class="row">
      <div class="col">
         <button class="btn btn-outline-secondary mt-3" role="button" onclick="changeChartType('total_pressure')">Presión total</button>
         <button class="btn btn-outline-secondary  mt-3 ms-1" role="button" onclick="changeChartType('static_pressure')">Presión estática</button>
         <button class="btn btn-secondary  mt-3  ms-1" role="button" onclick="changeChartType('power')">Potencia</button>
      </div>
   </div>

   <div class="row h-100">
      <div class="col">
         <div class="form-check form-switch mt-3 ml">
            <input class="form-check-input" type="checkbox" id="toggleOriginalDesign" onclick="toggleOriginalDesign()">
            <label class="form-check-label" for="toggleOriginalDesign" id="toggleLabel">Mostrando curva calculada</label>
            {% include "widgets/fanDesignCurve/tolerancia.html" with nombre_grafica="power" tolerancia_actual=tolerancia_actual %}
            

         </div>
         <div  class="d3-graphic" id="graphContainer" data-scatter-data="{{ scatter_data|safe }}" ></div>
         <div  class="d3-graphic" id="graphContainer_original" data-scatter-data="{{ curva_inicial|safe }}" style="visibility: hidden; position: absolute;"></div>
      </div>
   </div>

   <script>
      function toggleOriginalDesign() {
         if ($('#toggleOriginalDesign').is(':checked')) {
            $('#graphContainer').css({ visibility: 'hidden', position: 'absolute' });
            $('#graphContainer_original').css({ visibility: 'visible', position: 'static' });
            $('#toggleLabel').text('Mostrando curva original');
            setTimeout(() => {
               $(window).trigger('resize'); // Asegura que D3 repinte el gráfico correctamente
            }, 100);
            
         } else {
            $('#graphContainer').css({ visibility: 'visible', position: 'static' });
            $('#graphContainer_original').css({ visibility: 'hidden', position: 'absolute' });
            $('#toggleLabel').text('Mostrando curva calculada');
            setTimeout(() => {
               $(window).trigger('resize');
            }, 100);
         }
      }
      
   </script>