   <div class="row">
      <div class="col">
         <button class="btn btn-outline-secondary  mt-3" role="button" onclick="changeChartType('total_pressure')">Presión total</button>
         <button class="btn btn-secondary  mt-3 ms-1" role="button" onclick="changeChartType('static_pressure')">Presión estática</button>
         <button class="btn btn-outline-secondary  mt-3 ms-1" role="button" onclick="changeChartType('power')">Potencia</button>
      </div>
   </div>

   <div class="row h-100">
      <div class="col ps-0">
         <div  class="d3-graphic" id="graphContainer" data-scatter-data="{{ scatter_data|safe }}"></div>
      </div>
   </div>