   <div class="row">
      <div class="col">
         <button class="btn btn-outline-secondary mt-3" role="button" onclick="changeChartType('total_pressure')">Total Preassure</button>
         <button class="btn btn-outline-secondary  mt-3 ms-1" role="button" onclick="changeChartType('static_pressure')">Static Preassure</button>
         <button class="btn btn-secondary  mt-3  ms-1" role="button" onclick="changeChartType('power')">Power</button>
      </div>
   </div>

   <div class="row h-100">
      <div class="col">
         <div  class="d3-graphic" id="graphContainer" data-scatter-data="{{ scatter_data|safe }}"></div>
      </div>
   </div>