{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
  <title>{% block head_title %}{% endblock %} | VentApp</title>

  {# CSS - Bootstrap y estilos propios #}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/app.css' %}?v=0.1.0">

  <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
  {% block head_extra_meta %}{% endblock %}
  {% block head_css %}{% endblock %}

  {# JS deferidos del <head> (ligeros o íconos) #}
  <script defer src="{% static 'vendor/fontawesome-free-5.15.4/js/all.min.js' %}"></script>

  {% block head_js %}{% endblock %}
</head>

<body>
  <header>
    {% include "widgets/base_navbar.html" %}
  </header>

  <main role="main" class="container">
    {% block navbar_section %}{% endblock %}
    {% include "widgets/notifications/toast.html" %}
    {% if messages %}
      <div class="mt-3">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    {% block body_content %}{% endblock %}
  </main>

  {% include "widgets/graphics/modal.html" %}

  {# Scripts cargados al final para mejorar performance #}
  <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


  <script src="{% static 'js/amcharts5/index.js' %}"></script>
  <script src="{% static 'js/amcharts5/xy.js' %}"></script>
  <script src="{% static 'js/amcharts5/themes/Animated.js' %}"></script>

  
  <script src="{% static 'js/graficas/grafica_lineal.js' %}"></script>
  <script src="{% static 'js/home/form_graficas.js' %}"></script>
  <script src="{% static 'js/app.js' %}?v=0.1.0"></script>

  <script src="{% static 'js/notifications/toast.js' %}"></script>
  {% block body_js %}{% endblock %}
</body>
</html>
