{% extends "base.html" %}
{% load static %}

{% block head_extra_meta %}{% endblock %}

{% block head_js %}{% endblock head_js %}

{% block head_title %}{% endblock %}

{% block body_container_classes %}mx-0 w-100 mw-100{% endblock %}

{% block body_content %}
   <div class="container-fluid h-100">
      
      <div class="row h-100" style="height: calc(100% - 40px);">
         {# Columna Izquierda #}
         <div class="col-sm-12 col-md-9 ">
            {% include "widgets/currentStatus/current_data.html" %}
            {% include "widgets/currentStatus/vdf_frecuency.html" %}
         </div>
         
         {# Columna Derecha #}
         <div class="col-sm-12 col-md-3 ">
            <div class="row justify-content-center align-items-center">
               <div class="col-12 col-md-10 col-xl-8">
                  {# Modelo #}
                  <div class="list-group border border-lg-3 border-warning p-3 mb-2">
                     <div class="row">
                        <p class="text-center fs-4 fw-bold m-0 ">{{project.ventilador}}</p>
                     </div>
                  </div>
                  {# Desempeño Actual del Ventilador #}
                  <div class="list-group border border-3 border-warning p-3 mb-2">
                     <div class="row">
                        <p class="text-start fs-5 m-0">Desempeño Actual del Ventilador</p>
                     </div>
                  </div>
                  {# Ángulo de la Hoja #}
                  <div class="list-group border border-3 border-warning p-3 mb-2">
                     <div class="row">
                        <p class="text-start fs-6 ps-4 m-1">  {{project.factor}} % </p>
                     </div>
                  </div>
                  <div class="list-group border border-3 border-warning p-3 mb-2">
                     <div class="row">
                        <p class="text-start fs-5 m-0">Desempeño Actual del Sistema</p>
                     </div>
                  </div>
                  <div class="list-group border border-3 border-warning p-3 mb-2">
                     <div class="row">
                        <p class="text-start fs-5 m-0" id="desempeno">{{ data.3 }} %</p>
                     </div>
                  </div>

                  <div class="list-group border border-3 border-warning p-3 mb-2">
                     <div class="row">
                        <p class="text-start fs-5 m-0">Calor generado</p>
                     </div>
                  </div>

                  <div class="list-group border border-3 border-warning p-3 mb-2">
                     <div class="row">
                        <p class="text-start fs-5 m-0">{{project.potencia}} kW</p>
                     </div>
                  </div>

               </div>
            </div>
         </div>
      </div>
      
   </div>

{% endblock %}

{% block body_js %}
   <script src="{% static 'js/d3.v7.js' %}"></script>
   <script src="{% static 'js/scatterplot.js' %}"></script>

   <script type="text/javascript">
      
      var dataSection = {{ data.general| safe }};
      
      var sectionStatus = 'general'
      var switchStatus = true

      document.addEventListener("DOMContentLoaded", function() { getValues() });

      // Cambiar vista
      function changeChartType(type) {
         window.location.href = "{% url 'fanreal:fanreal' %}?chart_type=" + type;
      }
      
      function sectionSelector(section) {
         window.location.href = "{% url 'fanreal:fanreal' %}?section=" + section;
      }

      function changeDataChart(data_input, section){
         sectionStatus = section;
         dataSection = data_input;
         chartSwitch(switchStatus);

         var fPStatus = document.getElementById('fp_status');
         var fOStatus = document.getElementById('fo_status');

         fPStatus.style.backgroundColor = data_input.FanPerformance.status;
         fOStatus.style.backgroundColor = data_input.FanOperation.status;
      }

      function chartSwitch(fanSelector){
         switchStatus = fanSelector;

         if (switchStatus == true){
            console.log(sectionStatus)
            updateData(dataSection.FanPerformance.data);
         } else {
            console.log(sectionStatus)
            updateData(dataSection.FanOperation.data);
         }
      }

      function getValues() {
         fetch("/get_recent_data")
         .then(response => {
            if (!response.ok) {
               // Si hay un error HTTP, lanza un error
               throw new Error(`HTTP error! Status: ${response.status}`);
            }
            return response.json();
         })
         .then(context => {
            if (context.status === "error") {
               // Manejo del error en el JSON
               console.error(context.message);
               alert(context.message); // Muestra un mensaje de alerta al usuario
            } else {
               // Procesa los datos en caso de éxito
               console.log(context.variables);
               actualizarElementosHTML(context.variables);
               updateValues(context.data, context);
            }
         })
         .catch(error => {
            // Manejo de errores generales
            console.error("Error al realizar la solicitud:", error);
            alert("Ocurrió un problema al obtener los datos.");
         });
      }

      function updateValues(data, context) {
         // Actualiza los divs con los nuevos valores  
         $("#q1").text(data[0]);  
         $("#qf").text(data[1]);
         $("#pt1").text(data[2]);
         $("#power").text(data[3]);
         $("#desempeno").text(`${data[3]} %`);
         $("#fref").text(data[4]);
         $("#pe").text(context.presion_estatica);
         $("#pd").text(context.presion_dinamica);
         $("#pch").text(context.perdida_de_choque);
         $("#pf").text(context.perdidas_friccionales);

      }

      function editFrecuency(data) {
         $("#fref").text(data[4]);
      }

      setInterval(() => {
         getValues();
      }, 15000);

      function actualizarElementosHTML(variables) {
         for (const key in variables) {
            if (variables.hasOwnProperty(key)) {
                  const valor = variables[key];

                  if (typeof valor === 'object' && valor !== null) {
                     // Si el valor es un objeto, recorre sus propiedades
                     for (const subKey in valor) {
                        if (valor.hasOwnProperty(subKey)) {
                              const elemento = document.getElementById(subKey);
                              if (elemento) {
                                 elemento.textContent = valor[subKey].toFixed(2);
                              }
                        }
                     }
                  } else {
                     // Si el valor es un valor simple, actualiza el elemento directamente
                     const elemento = document.getElementById(key);
                     if (elemento) {
                        elemento.textContent = valor.toFixed(2);
                     }
                  }
            }
         }
      }
   </script>
   
   <script>
      window.opener = null;
      const displayF = document.getElementById('fref');
      const inputFDiv = document.getElementById('fref-input-div');
      const container = document.getElementById('fref-container');
      let editMode = false;
      
      document.getElementById('edit-btn').addEventListener('click', () => {
         // Enviar newFref al servidor aqui
         var newFref = document.getElementById('fref-input').value;
         fetch(`/update_frequency?frecuency=${newFref}`)
         .then(response => response.json())
         .then(data => console.log(data));
      });
   
   </script>
{% endblock %}
