{% extends "base.html" %}
{% load static %}

{% block head_extra_meta %}{% endblock head_extra_meta %}
{% block head_css %}{% endblock head_css %}
{% block head_js %}{% endblock head_js %}
{% block head_title %}{% endblock head_title %}

{# Clases para el contenedor principal del body #}
{% block body_container_classes %}mx-0 w-100 mw-100{% endblock body_container_classes %}

{% block navbar_section %}
  {% include "widgets/dbs/navbar.html" %}
{% endblock navbar_section %}

{% block body_content %}
  {# Contenido de la página /dbs aquí #}
{% endblock body_content %}

{% block body_js %}
  {# Ya están cargados jQuery y Bootstrap con Popper #}
  <script src="{% static 'js/d3.v7.js' %}"></script>
  {# <script src="{% static 'js/scatterplot.js' %}"></script> #}
  <script src="{% static 'js/fancurveplot.js' %}"></script>
{% endblock body_js %}
