<style>
.semaforo-luz {
  transition: box-shadow 0.3s ease;
}

.semaforo-luz:hover {
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
}
</style>
<div class="row mb-4" >
  <!-- Primera columna: Semáforo -->
  {% include "widgets/home/components/semaforo_animado.html" with intervalos_sistema=intervalos_sistema %}
  

 <div class="col-md-6">
  <div class="row">
    <!-- Tarjeta 1 -->
    <div class="col-md-4 mb-4">
      <div class="card border border-primary h-100 d-flex align-items-center justify-content-between flex-row px-3 py-2">
        <h6 class="mb-0">
          Caudal en la frente
          <i class="ms-2 bi bi-question-circle" data-bs-toggle="tooltip" title="Volumen de aire que fluye en la zona frontal del sistema."></i>
        </h6>
        <div id="color-caudal-frente" class="color-box" style="width: 20px; height: 20px; background-color: yellow;"></div>
      </div>
    </div>

    <!-- Tarjeta 2 -->
    <div class="col-md-4 mb-4">
      <div class="card border border-primary h-100 d-flex align-items-center justify-content-between flex-row px-3 py-2">
        <h6 class="mb-0">
          Velocidad del aire
          <i class="ms-2 bi bi-question-circle" data-bs-toggle="tooltip" title="Velocidad del flujo de aire en el ducto."></i>
        </h6>
        <div id="color-velocidad-aire" class="color-box" style="width: 20px; height: 20px; background-color: red;"></div>
      </div>
    </div>

    <!-- Tarjeta 3 -->
    <div class="col-md-4 mb-4">
      <div class="card border border-primary h-100 d-flex align-items-center justify-content-between flex-row px-3 py-2">
        <h6 class="mb-0">
          TGBH
          <i class="ms-2 bi bi-question-circle" data-bs-toggle="tooltip" title="Temperatura de bulbo húmedo general."></i>
        </h6>
        <div id="color-tgbh" class="color-box" style="width: 20px; height: 20px; background-color: green;"></div>
      </div>
    </div>

    <!-- Tarjeta 4 -->
    <div class="col-md-4 mb-4">
      <div class="card border border-primary h-100 d-flex align-items-center justify-content-between flex-row px-3 py-2">
        <h6 class="mb-0">
          Leakage Coefficient (Lc)
          <i class="ms-2 bi bi-question-circle" data-bs-toggle="tooltip" title="Coeficiente que indica el nivel de fugas en el sistema."></i>
        </h6>
        <div id="color-leakage-coefficient" class="color-box" style="width: 20px; height: 20px; background-color: yellow;"></div>
      </div>
    </div>

    <!-- Tarjeta 5 -->
    <div class="col-md-4 mb-4">
      <div class="card border border-primary h-100 d-flex align-items-center justify-content-between flex-row px-3 py-2">
        <h6 class="mb-0">
          Punto de Stall
          <i class="ms-2 bi bi-question-circle" data-bs-toggle="tooltip" title="Indica la condición en la que el ventilador pierde eficiencia."></i>
        </h6>
        <div id="color-punto-stall" class="color-box" style="width: 20px; height: 20px; background-color: red;"></div>
      </div>
    </div>

    <!-- Tarjeta 6 -->
    <div class="col-md-4 mb-4">
      <div class="card border border-primary h-100 d-flex align-items-center justify-content-between flex-row px-3 py-2">
        <h6 class="mb-0">
          Fugas
          <i class="ms-2 bi bi-question-circle" id="tooltip-fugas" data-bs-toggle="tooltip" title="Nivel de fugas detectadas en el sistema."></i>
        </h6>
        <div id="color-fugas" class="color-box" style="width: 20px; height: 20px; background-color: green;"></div>
      </div>
    </div>

    <!-- Tarjeta 7 -->
    <div class="col-md-4 mb-4">
      <div class="card border border-primary h-100 d-flex align-items-center justify-content-between flex-row px-3 py-2">
        <h6 class="mb-0">
          Potencia
          <i class="ms-1 bi bi-question-circle" id="tooltip-potencia" style="width: 5px; height: 5px;" data-bs-toggle="tooltip" title="Potencia medida en el sistema (HP)."></i>
        </h6>
        <div id="color-potencia" class="color-box" style="width: 20px; height: 20px; background-color: yellow;"></div>
      </div>
    </div>
  </div>
</div>

  
  
</div>

<!-- Modal Semáforo -->
<div class="modal fade" id="modalSemaforo" tabindex="-1" aria-labelledby="modalSemaforoLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalSemaforoLabel">Luz del Semáforo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="contenidoModal">
          {% include "widgets/home/detalle_semaforo.html"  %}
      </div>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/progressbar.js/1.0.1/progressbar.min.js"></script>

<script>
  const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
  tooltipTriggerList.forEach(tooltipTriggerEl => {
    new bootstrap.Tooltip(tooltipTriggerEl);
  });
</script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">

